<%- include('../partials/head.ejs') %>
</head>
<body class="bg-gray-100">
   
  <%- include('../partials/nav') %>
    <header class="bg-white shadow">
      <h1 class="text-3xl font-bold text-green-600 p-6">Your Home Registered Successfully</h1>
    </header>
    <main class="p-6">
      <a href="/" class="text-blue-500 hover:underline">Go to Home</a>
    </main>
  </body>
</html>
